@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none;}
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle; overflow: hidden;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}


/* common */
body {font-family: 'NanumSquare', sans-serif; font-size: 14px; color: #000000; letter-spacing: -0.03em; background: #ffffff;}

#wrapper div.quick-menu {position: fixed; bottom: 130px; right: 20px; width: 60px; height: 324px; z-index: 10000; border-radius: 5px; background-color: #ffffff; box-shadow: 5px 5px 30px #aaaaaa;}
#wrapper div.quick-menu ul {}
#wrapper div.quick-menu ul li {width: 50px; height: 50px; color: #a27b73; font-size: 18px; border-radius: 100px;}
#wrapper div.quick-menu ul li {margin-top: 10px; margin-left: 5px;}
#wrapper div.quick-menu ul li:nth-child(1) {color: #461b0e; background-color: #ffdd1c ;}
#wrapper div.quick-menu ul li:nth-child(4) {color: #ff9900;}
#wrapper div.quick-menu ul li.on {background-color: #a27b73; color: #ffffff;}
#wrapper div.quick-menu ul li dt {display: none;}
#wrapper div.quick-menu ul li.on a dt {display: inline-block; position: absolute; color: #ffffff; background-color: #000000; opacity: 0.7; right: 50px; margin-top: 15px; font-size: 14px; border-radius: 30px; width: 80px; height: 15px; padding: 5px 5px; text-align: center;}
#wrapper div.quick-menu ul li dd {position: relative; top: 50%; left: 50%; transform: translate(-18%, -50%);}

#wrapper div.up {position: fixed; bottom: 30px; right: 20px; z-index: 10000; width: 36px; height: 36px; border: 1px solid #e5e5e5; background-color: #ffffff; opacity: 0.7; border-radius: 3px;}

#header {position: fixed; z-index: 1000;}
#header div.event {position: fixed; background: #000000; top: 0; width: 100%; height: 50px; z-index: 10000;}
#header div.event img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

#gnb-mobile {display: none;}

#gnb {position: fixed; top: 50px; width: 100%; height: 90px;  background-color: rgba(74, 41, 34, 0.8);}
#gnb h1 {position: absolute; width: 188px; height: 30px; top: 50%; left: 160px; z-index: 100; transform: translate(0, -50%);/* margin-top: 50px; */}
#gnb div.nav {position: absolute; width: 1200px; height: 90px; left: 50%; top: 0; transform: translate(-50%, 0);}
#gnb div.nav div.top-nav {position: absolute; height: 30px; font-size: 12px; color: #cccccc; right: 0; top: 15px; }
#gnb div.nav div.top-nav ul li {float: left; padding-right: 20px;}
#gnb div.nav div.top-nav ul li:nth-child(6) {padding-right: 0; font-weight: 800;}
#gnb div.nav div.top-nav ul li div.label {position: absolute; background-color: #ff6363; margin-top: 5px; text-align: center; padding: 2px 5px; z-index: 100; color: #ffffff; border-radius: 30px; font-size: 10px;}
#gnb div.nav div.top-nav ul li div.label a::before {content: ''; position: absolute; width: 0; height: 0; left: 50%; top: -20%; transform: translate(-50%, 0) rotate(225deg); border-top: 8px solid transparent; border-right: 8px solid #ff6363; z-index: 9;}
#gnb div.nav div.bottom-nav {width: 1200px;  position: absolute; bottom: 0;}
#gnb div.nav div.bottom-nav ul.main {position: absolute; bottom: 0; font-family: 'Noto Serif KR', serif; right: 130px; line-height: 20px;}
#gnb div.nav div.bottom-nav ul.main li {float: left; padding: 0 20px;} 
#gnb div.nav div.bottom-nav ul.main li div.label {position: absolute; top: -15px; left: 120px; background-color: #ff6363; text-align: center; width: 30px; width: 30px; z-index: 100; color: #ffffff; border-radius: 8px; font-size: 10px; line-height: 15px; vertical-align: middle;}
#gnb div.nav div.bottom-nav ul.main li:nth-child(6) h3 {color: #ff9daa;}
#gnb div.nav div.bottom-nav ul.main li h3 {font-size: 16px; color: #ffffff; font-weight: 300;}
#gnb div.nav div.bottom-nav ul.main li h3:hover {color: #ff9900; border-bottom: 3px solid #ff6363; padding-bottom: 10px; }
#gnb div.nav div.bottom-nav ul.main li h3.on {border-bottom: 3px solid #ff6363; padding-bottom: 10px; color: #ff6363;}
#gnb div.nav div.bottom-nav ul.main div.label {display: inline-block; }
#gnb div.nav div.bottom-nav ul.right {position: absolute; right: 0; bottom: 10px; }
#gnb div.nav div.bottom-nav ul.right li {float: left; font-size: 16px; line-height: 20px; color: #cccccc;}
#gnb div.nav div.bottom-nav ul.right li:first-child::before {content: '|'; padding: 0 25px;}
#gnb div.nav div.bottom-nav ul.right li + li {padding-left: 20px;}
#gnb div.nav div.bottom-nav ul.right li div.label {font-size: 10px; position: absolute; top: -8px; right: 28px; width: 15px; height: 15px; border-radius: 100px; background-color: rgb(235, 147, 33); text-align: center; line-height: 15px;}
#gnb div.nav div.bottom-nav ul.main li div.sub-inner {position: absolute; width: 427px; height: 238px; padding: 15px; background-color: #ffffff; top: 33px; border: 1px solid #e2e2e2;}
#gnb div.nav div.bottom-nav ul.main li div.sub-inner ul.main_sub {position: absolute; width: 200px;}
#gnb div.nav div.bottom-nav ul.main li div.sub-inner ul.main_sub li {float: left; padding: 8px 5px; border-bottom: 1px solid #e5e5e5; width: 150px;}
#gnb div.nav div.bottom-nav ul.main li div.sub-inner img {position: absolute; right: 0; padding: 8px 15px; width: 240px; height: 226px;}
#gnb div.nav div.bottom-nav ul.main li:nth-child(1) div.sub-inner {display: none;}
#gnb div.nav div.bottom-nav ul.main li:nth-child(2) div.sub-inner {display: none;}
#gnb div.nav div.bottom-nav ul.main li:nth-child(3) div.sub-inner {display: none;}
#gnb div.nav div.bottom-nav ul.main li:nth-child(4) div.sub-inner {right: 0; display: none;}
#gnb div.nav div.bottom-nav ul.main li:nth-child(5) div.sub-inner {right: 0; display: none;}
#gnb div.nav div.bottom-nav ul.main li:nth-child(6) div.sub-inner {right: 0; display: none;}


#main {position: relative;}
#main-visual {position: relative;}
#main-visual div.slide {position: relative; overflow: hidden;}
#main-visual div.slide p.dummy {opacity: 0;}
#main-visual div.slide ul {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual div.slide ul > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
#main-visual div.slide ul > li:first-child {display: block;}
#main-visual div.control {position: absolute; top: 50%; width: 100%;}
#main-visual div.control p.prev {position: absolute; left: 0;}
#main-visual div.control p.next {position: absolute; right: 0;}
#main-visual div.indicator {position: absolute; width: 100%; bottom: 50px;}
#main-visual div.indicator ul {position: absolute; width: 200px; left: 50%; }
#main-visual div.indicator ul li {float: left; width: 10px; height: 10px; border-radius: 100px; background-color: #ffffff; opacity: 0.7; text-indent: -999999px;}
#main-visual div.indicator ul li.on {width: 40px; height: 10px; border-radius: 30px; background-color: #ff9900; opacity: 1;}
#main-visual div.indicator ul li + li {margin-left: 10px;}

#promotion {position: relative;}
#promotion div.content {position: relative;}
#promotion div.content ul.outer-box {overflow: hidden;}
#promotion div.content ul.outer-box li {position: relative; float: left;  box-sizing: border-box;}
#promotion li.left {width: 50%; height: 80vh; background-color: #fafafa;}
#promotion li.left p.dummy {opacity: 0;}
#promotion li.left ul {position: absolute; left: 0; top: 0; width: 100%; height: 100%; } 
#promotion li.left > ul > li {position: absolute; width: 450px; height: 450px; display: none; left: 50%; top: 50px; transform: translate(-50%, 0);}
#promotion li.left ul li h4 {font-size: 24px; padding: 15px 0; color: #333333; text-align: center; font-family: 'Noto Serif KR', serif;}
#promotion li.left ul li p {font-size: 16px; padding-bottom: 10px; color: #666666; text-align: center; }
#promotion li.left ul > li:first-child {display: block;}
#promotion li.left div.control {position: absolute; top: 50%; width: 100%;}
#promotion li.left div.control p.prev {position: absolute; left:0;}
#promotion li.left div.control p.next {position: absolute; right:0;}
#promotion li.left div.indicator {position: absolute; bottom: 50px; left: 50%; transform: translate(-50% 0);}
#promotion li.left div.indicator ul {position: absolute; width: 150px; left: 50%; transform: translate(-50%, 0 );}
#promotion li.left div.indicator ul li {float: left; width: 10px; height: 10px; border-radius: 100px; background-color: #666666; opacity: 0.3; text-indent: -99999px;}
#promotion li.left div.indicator ul li.on {width: 40px; height: 10px; border-radius: 30px; background-color: #ff9900; opacity: 1;}
#promotion li.left div.indicator ul li + li {margin-left: 10px;}

#promotion li.right {width: 50%; height: 80vh; background: url(../img/intro/s1-6.jpg) 0 0 no-repeat; background-size: cover;}
#promotion li.right div {width: 440px; height: 565px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: #ffffff; opacity: 0.8;}
#promotion li.right div h4 {font-size: 30px; padding: 15px 0; color: #333333; text-align: center; font-family: 'Noto Serif KR', serif; position: absolute; top: 25%; text-align: center; width: 100%;}
#promotion li.right div p {font-size: 18px; color: #666666;position: absolute; top: 45%; width: 100%; text-align: center;line-height: 20px;}
#promotion li.right div p em {font-weight: 800; line-height: 40px;}
#promotion li.right div p.button {position: absolute; top: 80%; width: 100px; height: 20px; font-size: 14px; color: #444444; border-top: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px 10px; left: 50%; transform: translate(-50%, 0); font-family: 'Noto Serif KR', serif;}
#promotion li.right div p.button:hover {font-size: 15px; transition: all 0.5s; border: none; color: #ff9900;}


#fruits {position: relative; width: 100vw; height: 468px;}
#fruits div {position: absolute; width: 100%; top: 50%;}
#fruits div ul {position: relative;}
#fruits div ul li {position: absolute; width: 50%; float: left; box-sizing: border-box;}
#fruits div ul li.left {height: 100%; left: 0;}
#fruits div ul li.right {height: 100%; right: 0;}

#fruits div ul li div.inner img {position: absolute; top: 50%; right: 20px; width: 353px; height: 265px; transform: translate(0, -50%);}
#fruits div ul li div.inner div.text-box {position: absolute; right: 55%; top: 50%; transform: translate(0, -50%); width: 300px; height: 260px;}
#fruits div ul li div.inner div.text-box h4 {color: #333333; font-size: 24px; font-family: 'Noto Serif KR', serif; position: absolute; width: 100%; text-align: center;}
#fruits div ul li div.inner div.text-box p {color: #666666; font-size: 16px; position: absolute; top: 70px; left: 0; width: 100%; text-align: center; line-height: 25px;}
#fruits div ul li div.inner div.text-box p.button {position: absolute; top: 70%; width: 100px; height: 25px; font-size: 14px; color: #444444; border-top: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px 10px 10px 10px; left: 50%; transform: translate(-50%, 0); font-family: 'Noto Serif KR', serif; transition: all 0.5s;}
#fruits div ul li div.inner div.text-box p.button:hover {font-size: 15px; border: none; color: #ff9900;} 



#story {position: relative; width: 100%; height: 800px; top: 0;}
#story div {position: absolute; width: 50%; height: 100%;}
#story div div {width: 90%; height: 90%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#story div.left {left: 0; top: 0; background: url(../img/intro/bg-area-01.jpg) 0 0 no-repeat; background-size: cover;} 
#story div.right {right: 0; top: 0; background: url(../img/intro/bg-area-02.jpg) 0 0 no-repeat; background-size: cover;} 
#story div div h4 {color: #ffffff; font-size: 30px; position: absolute; width: 100%; text-align: center; font-family: 'Noto Serif KR', serif; top: 20%;}
#story div div p {color: #ffffff; font-size: 16px; position: absolute; top: 30%; left: 0; width: 100%; text-align: center; line-height: 40px;}
#story div div p.button {position: absolute; top: 60%; width: 100px; height: 25px; font-size: 14px; color: #ffffff; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; padding: 10px 10px 10px 10px; left: 50%; transform: translate(-50%, 0); font-family: 'Noto Serif KR', serif; line-height: 25px;}
#story div div p.button:hover {font-size: 15px; transition: all 0.5s; border: none;}


#gift {position: relative; top: 0;}
#gift ul {position: absolute; left: 50%; top: 0; padding-top: 50px; transform: translate(-50%, 0); width: 60%; height: 100%;}
#gift ul li {position: relative; width: 100%; }
#gift ul li + li {padding-top: 70px;}
#gift ul li h4 {color: #333333; font-size: 30px; font-family: 'Noto Serif KR', serif; width: 100%; text-align: center; letter-spacing : 5px;}
#gift ul li p {color: #666666; font-size: 17px; position: relative; padding: 30px 0; left: 0; width: 100%; text-align: center; line-height: 30px;}
#gift ul li img {position: relative; left: 50%; bottom: 0; transform: translate(-50%, 0); }


#footer {position: relative; top: 1600px; width: 100%; }
#footer01 {position: relative; top: 0; height: 810px;  width: 100%; left: 50%; transform: translate(-50%, 0); border-bottom: 1px solid #dfdfdf;} 
#footer01 div.left {position: absolute; width: 50%; height: 100%; left: 8%; top: 0; } 
#footer01 div.left > a > img {position: absolute; bottom: 50px; left: 40%; transform: translate(-50%, 0);}
#footer01 div.right {width: 50%; height: 100%; position: absolute; right: 0; top: 0;} 
#footer01 div.right ul {width: 100%; height: calc(100%-50px); position: absolute; }
#footer01 div.right ul li {padding-left: 50px;}
#footer01 div.right ul li + li {padding-top: 50px;}

#footer02 {width: 100%; height: 300px;  position: relative; top: 0; border-bottom: 1px solid #cccccc;}
#footer02 h4 {color: #333333; font-size: 24px; font-family: 'Noto Serif KR', serif; position: absolute; width: 100%; text-align: center; top: 20%;}
#footer02 p {color: #666666; font-size: 16px; position: absolute; top: 40%; left: 0; width: 100%; text-align: center;}
#footer02 ul {position: absolute; left: 50%; top: 50%; transform: translate(-50%, 50%);}
#footer02 ul li {float: left;}
#footer02 ul li + li {padding-left: 30px;}
#footer02 ul li p.button {position: relative; top: 60%; width: 130px; height: 25px; font-size: 14px; color: #666666; border-top: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px 10px 10px 10px; left: 50%; transform: translate(-50%, 0); font-family: 'Noto Serif KR', serif; line-height: 25px;}
#footer02 ul li p.button:hover {font-size: 15px; transition: all 0.5s; border: none; color: #ff9900;}
#footer03 {position: relative; top: 0; left: 50%; transform: translate(-50%, 0); width: 1300px; height: 350px;}
#footer03 div {position: absolute; width: 50%; height: 200px; margin: 50px 20px;}
#footer03 div h4 {color: #5f3612; font-size: 24px; font-family: 'Noto Serif KR', serif; position: absolute; width: 100%; text-align: center; top: 0;}
#footer03 div h5 {color: #666666; font-size: 14px; position: absolute; width: 100%; text-align: center; top: 20%;}
#footer03 div p {color: #666666; font-size: 14px; position: absolute; top: 40%; left: 0; width: 100%; text-align: center; line-height: 30px;}
#footer03 div ul {position: absolute; top: 85%; left: 50%; transform: translate(-50%, 0);}
#footer03 div ul li {float: left;}
#footer03 div ul li + li {padding-left: 20px;}
#footer03 div ul li p.button {position: relative; width: 130px; height: 25px; font-size: 14px; color: #666666; border-top: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px 10px 10px 10px; left: 50%; transform: translate(-50%, 0); font-family: 'Noto Serif KR', serif; line-height: 25px;}
#footer03 div ul li p.button:hover {font-size: 15px; transition: all 0.5s; border: none; color: #ff9900;}
#footer03 div.left {left: 0; border-right: 1px solid #e5e5e5;}
#footer03 div.right {right: 0;}
#footer03 div.right h5 {line-height: 40px; font-weight: 700;}
#footer03 div.left h5 {font-family: 'Noto Serif KR', serif; color: #5f3612; font-size: 20px;}

#footer04 {position: relative; top: 0; left: 50%; transform: translate(-50%, 0); width: 1300px; height: 350px; border-bottom: 1px solid #e5e5e5;}
#footer04 ul.footer-outer {position: absolute; left: 10px; top: 20px;}
#footer04 ul.footer-outer li {float: left;}
#footer04 ul.footer-outer li + li {padding-left: 160px;}
#footer04 ul.footer-outer li a {font-size: 16px; color: #444444; font-weight: 550;}
#footer04 ul.footer-outer li ul.footer-inner {position: absolute; width: 150px; height: 100px; margin-top: 30px; }
#footer04 ul.footer-outer li ul.footer-inner li {left: 0; width: 150px; height: 20px;}
#footer04 ul.footer-outer li ul.footer-inner li > a {font-weight: 500; color: #777777; font-size: 13px;}
#footer04 ul.footer-outer li ul.footer-inner li + li {padding-top: 15px; padding-left: 0;}


#footer-last {position: relative; top: 0; text-align: center; padding: 50px 0 100px 0;}

#footer-last h4 {padding-bottom: 30px;}
#footer-last img.kcp {position: absolute; width: 60px; height: 60px; right: 50px; bottom: 30px;}
#footer-last ul.info {font-size: 13px; color: #767676;}
#footer-last ul.info li + li {padding-top: 20px;} 
#footer-last ul.info li ul {position: absolute; left: 50%; transform: translate(-50%, 0);}
#footer-last ul.info li ul li {float: left;}
#footer-last ul.info li ul li + li {padding-left: 15px; padding-top: 0;}






/*sub_brandstory*/
#sub_brand_main {position: relative; top: 0; left: 0; width: 100%; height: 100vh; background: url(../img/story/ab-bg-03.jpg);}
#sub_brand_main img {position: absolute; top: 20%; left: 50%; transform: translate(-50%, 30%);}
#sub_brand_main h2 {position: absolute; top: 45%; left: 50%; transform: translate(-50%, 40%); color: #ffffff; font-size: 60px; text-align: center; font-family: 'Noto Serif KR', serif; letter-spacing: 6px; line-height: 70px;}
#sub_brand_main h3 {position: absolute; top: 75%; left: 50%; transform: translate(-50%, 20%); color: #ffffff; font-size: 36px; text-align: center; font-family: 'Noto Serif KR', serif; letter-spacing: 6px; font-weight: 550; letter-spacing: 0;}
#sub_brand_main p {position: absolute; top: 85%; left: 50%; transform: translate(-50%, 50%); color: #ffffff; font-size: 16px; text-align: center; font-weight: 400; letter-spacing: 0;}
#sub_brand_main a {position: absolute; top: 93%; left: 50%; transform: translate(-50%, 0); color: #ffffff; font-size: 36px; text-align: center; letter-spacing: 6px;}



#brand {position: relative; top: 0; background: url(../img/story/bg-dark.jpg) 0 0 repeat;}
#brand div.top {position: relative; height: 90vh;}
#brand div.top img {position: absolute; top: 10%; left: 50%; transform: translate(-50%, 30%);}
#brand div.top h2 {position: absolute; top: 40%; left: 50%; transform: translate(-50%, 40%); color: #ffffff; font-size: 36px; text-align: center; font-family: 'Noto Serif KR', serif; font-weight: 550;}
#brand div.top h2::after {content: ''; border-bottom: 1px solid #ffffff; width: 250px; height: 1px; position: absolute; left: 50%; top: -20px; transform: translate(-50%, 0);}
#brand div.top h3 {position: absolute; top: 65%; left: 50%; transform: translate(-50%, 50%); color: #ffffff; font-size: 20px; text-align: center; font-family: 'Noto Serif KR', serif; letter-spacing: 6px; font-weight: 450;}
#brand div.top p {position: absolute; top: 70%; left: 50%; transform: translate(-50%, 30%); color: #ffffff; opacity: 0.5; font-size: 14px; text-align: center; font-weight: 400; line-height: 24px; letter-spacing: 1px;}
#brand div.bottom {position: relative; height: 120vh;}
#brand div.bottom div {width: 50%; position: absolute;}
#brand div.bottom div.left {padding-left: 20%; margin-top: 150px; background: url(../img/story/ab-img-02.jpg) 40% 280px no-repeat; height: 100%;}
#brand div.bottom div.left h2 {position: relative; top: 0; left: 0;  color: #ffffff; font-size: 36px;  font-family: 'Noto Serif KR', serif; font-weight: 550; text-align: left;}
#brand div.bottom div.left p {position: relative; top: 0; left: 0; color: #ffffff; opacity: 0.5; font-size: 14px; text-align: left; font-weight: 400; line-height: 24px; letter-spacing: 1px; margin: 50px 0;}
#brand div.bottom div.left img {position: absolute; top: 28%; left: 30%; background-color: }
#brand div.bottom div.right {right: 0; padding-left: 50px; background: url(../img/story/ab-img-01.jpg) 0 0 no-repeat; height: 100%;}
#brand div.bottom div.right img {position: absolute; top: 220px; left: 250px;}


#value {position: relative; height: 130vh; top: 0; background: url(../img/story/bg-dark.jpg) 0 0 repeat;}
#value div.slide-outer {position: relative;  max-width: 100vw; height: 100%; overflow: hidden;}
#value div.slide-outer h2 {position: absolute; top: 0; left: 50%; transform: translate(-50%, 40%); color: #ffffff; font-size: 36px; text-align: center; font-family: 'Noto Serif KR', serif; font-weight: 550;}
#value div.slide-outer h3 {position: absolute; top: 20%; left: 50%; transform: translate(-50%, -40%); color: #ffffff; opacity: 0.5; font-size: 14px; text-align: center; font-weight: 400; line-height: 24px; letter-spacing: 1px;}
#value div.slide-outer h3::after {content: ''; border-bottom: 1px solid #ffffff; width: 850px; height: 10px; position: absolute; left: 50%; top: 30px; transform: translate(-50%, 0);}
#value div.slide-outer ul.slide-inner {position: absolute; top: 22%; left: 50%; transform: translate(-50%, 8%);}
#value div.slide-outer ul.slide-inner li {float: left; top: 0;}
#value div.slide-outer ul.slide-inner li + li {margin-left: 15px;}
#value div.slide-outer ul.slide-inner li dt {color: #ffffff; font-size: 16px; text-align: center; font-family: 'Noto Serif KR', serif; font-weight: 500; opacity: 0.5; margin-right: 25px; text-align: center; padding-top: 20px;}
#value div.slide-outer ul.slide-inner li dt:hover {opacity: 1; border-top: 3px solid #ff9900;padding-top: 17px;}
#value div.slide-outer ul.slide-inner li.on dt {opacity: 1; border-top: 3px solid #ff9900;padding-top: 17px;}
#value div.slide-outer ul.slide-inner li dd {position: absolute; width: 50vw; height: 500px; left: 50%; top: 20%; transform: translate(-50%, 20%);}
#value div.slide-outer ul.slide-inner li dd div.text {position: absolute; width: 60%; height: 60%; background-color: #ffffff; opacity: 0.9; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#value div.slide-outer ul.slide-inner li dd div.text i {font-size: 45px; color: #5f3612; text-align: center; margin-top: 50px; left: 50%; transform: translate(-50%, 0);}
#value div.slide-outer ul.slide-inner li dd div.text p {font-size: 18px; text-align: center; margin-top: 30px; font-family: 'Noto Serif KR', serif;}
#value div.slide-outer ul.slide-inner li dd div.text p em {font-size: 22px; text-align: center; font-family: 'Noto Serif KR', serif; line-height: 80px; font-weight: 600;}
#value div.slide-outer ul.slide-inner li:nth-child(1) dd {background: url(../img/story/ba-01.jpg); left: -190%;}
#value div.slide-outer ul.slide-inner li:nth-child(2) dd {background: url(../img/story/ba-02.jpg);}
#value div.slide-outer ul.slide-inner li:nth-child(3) dd {left: 290%; background: url(../img/story/ba-03.jpg);}
#value div.slide-outer ul.slide-inner li:nth-child(4) dd {left: 520%; background: url(../img/story/ba-04.jpg);}
#value div.slide-outer div.control {position: absolute; width: 50.5%; height: 25px; top: 50%; left: 50%; transform: translate(-50%, 0);}
#value div.slide-outer div.control p.prev {position: absolute; left: 0;}
#value div.slide-outer div.control p.next {position: absolute; right: 0;}

#value div.bottom-info {position: relative; height: 80vh; padding-top: 50px; background: url(../img/story/bg-dark.jpg) 0 0 repeat;}
#value div.bottom-info div {width: 100vw; height: 80%; overflow: hidden;}
#value div.bottom-info div div.text {position: absolute; width: 30%; height: 70%;  padding-left: 20%; top: 20%;}
#value div.bottom-info div div.text h3 {position: absolute; top: 0; left: 50%; transform: translate(-40%, 0); color: #ffffff; font-size: 36px; text-align: left; font-family: 'Noto Serif KR', serif; font-weight: 500;}
#value div.bottom-info div div.text p {position: absolute; top: 0; left: 50%; transform: translate(-30%, 0); font-size: 14px; color: #ffffff; opacity: 0.5; padding-top: 200px; line-height: 30px;}
#value div.bottom-info div > img {position: relative; left: 52%; overflow: hidden;}

#value div.bottom-info div div.text p.button {position: absolute; top: 70%; width: 150px; height: 20px; font-size: 14px; color: #ffffff; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; padding: 10px 10px; left: 50%; transform: translate(-62%, 0); font-family: 'Noto Serif KR', serif; opacity: 1; text-align: center; line-height: 20px; letter-spacing: 1px;}
#value div.bottom-info div div.text p.button:hover {font-size: 15px; transition: all 0.5s; border: none;}

#footer.sub {position: relative; top: 900px; width: 100%;}


/*sub_dessert*/

#sub_dessert_main {position: relative; top: 0; left: 0; width: 100%; }
#main-banner {width: 100%; height: 40vh; background: url(../img/dessert/sub-bg3.jpg);}
#main-banner h2 {font-size: 42px; position: absolute; top: 25%; left: 50%; transform: translate(-50%, 0); font-family: 'Noto Serif KR', serif; font-weight: 550; color: #ffffff;}
#main-banner h3 {font-size: 14px; position: absolute; top: 22%; left: 50%; transform: translate(-50%, 0); font-family: 'Noto Serif KR', serif; font-weight: 500; color: #ffffff;}

#shopping {position: relative; top: 0; left: 0; width: 100%; height: 2800px; padding-bottom: 100px;} 
#shopping div.title {height: 100px; width: 100%;}
#shopping div.title ul.top {position: absolute; left: 50%; top: 0; margin-top: 50px; transform: translate(-50%, 0);}
#shopping div.title ul.top li {float: left; padding: 10px 25px; border-radius: 30px; border: 1px solid #e5e5e5; color: #666666; font-family: 'Noto Serif KR', serif;}
#shopping div.title ul.top li:hover {background-color: #ca7e6c; color: #ffffff; border: 1px solid #ca7e6c;}
#shopping div.title ul.top li.on {background-color: #ca7e6c; color: #ffffff; border: 1px solid #ca7e6c;}
#shopping div.title ul.top li + li {margin-left: 20px;}
#shopping div.title ul.bottom {position: absolute; left: 50%; top: 0; margin-top: 110px; transform: translate(-50%, 0);}
#shopping div.title ul.bottom li {float: left; color: #cccccc; font-family: 'Noto Serif KR', serif; font-size: 13px;}
#shopping div.title ul.bottom li:hover {color: #ff9900;}
#shopping div.title ul.bottom li.on {color: #ff9900;}
#shopping div.title ul.bottom li + li {margin-left: 20px;}

#shopping > ul {width: 1300px; height: 100%; position: absolute; top: 100px; left: 50%; transform: translate(-50%, 0);}
#shopping > ul li {float: left; width: 30%; height: 460px; margin-top: 70px; padding-top: 10px;}
#shopping > ul li:hover div img {opacity: 0.6;}
#shopping > ul li:hover {transform: scale(1.03); transition: all 0.5s;}
#shopping > ul li div div {}
#shopping > ul li.soldout div div.on {position: absolute; width: 90%; height: 350px; left: 20px; background: url(../img/dessert/icon_list_soldout.png) 0 0 no-repeat; background-size: cover; top: 0;}
#shopping > ul li.outofstock div div.on {position: absolute; width: 90%; height: 350px; left: 20px; background: url(../img/dessert/icon_list_warehousing.png) 0 0 no-repeat; background-size: cover; top: 0;}



#shopping > ul li + li {margin-left: 50px;}
#shopping > ul li:nth-child(3n+1) {margin-left: 0; }
#shopping > ul li div {position: relative;}
#shopping > ul li div img {width: 90%; height: 90%; position: relative; left: 20px;}
#shopping > ul li div img.best-choice {position: absolute; width: 60px; height: 60px; left: 30px; top: 10px;}
#shopping > ul li div.text {position: relative; top: 15px;}
#shopping > ul li div.text h4 { font-size: 17px; color: #444444; font-family: 'Noto Serif KR', serif; padding-left: 20px;}
#shopping > ul li div.text p {font-size: 13px; color: #b5725e; margin: 10px 0; padding-left: 20px;}
#shopping > ul li div.text h5 {font-size: 13px; color: #ff7e8f; font-family: 'Noto Serif KR', serif; padding-left: 20px;}
#shopping > ul li div.text h5 em {font-size: 18px; padding-right: 5px;}
















































/*module*/




div.left div.control {position: absolute; top: 50%; width: 100%; background-color: #ff9900;}
div.left div.control img {width: 50px; height: 50px;}
div.left div.control p.prev {position: absolute; left: 0;}
div.left div.control p.next {position: absolute; right: 0;}
